@model HKQTravel.Models.user_account

@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Đổi mật khẩu</h2>
    @using (Html.BeginForm("changePassword", "Guest", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <label for="current_password">Mật khẩu hiện tại:</label>
        @ViewData["WrongPassword"]
        <input type="password" id="current_password" name="current_password" required><br><br>

        <label for="new_password">Mật khẩu mới:</label>
        <input type="password" id="new_password" name="new_password" required><br><br>

        <label for="confirm_password">Xác nhận mật khẩu mới:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        @ViewData["WrongNewPassword"]

        <input type="submit" value="Đổi mật khẩu">
    }
</div>

